{% extends 'admin/layout_admin.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}
    <div class="adjust-format">
        <div class="form-admin">
            <div class="card-form">

                <h1>Create new Member</h1>

                {{ include('admin/member/_form.html.twig') }}

                <a href="{{ path('admin_index') }}">
                    <button class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i> Back to list</button>
                </a>            </div>
        </div>
    </div>
{% endblock %}
