<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <img src="{{ asset('build/placeholderAdmin.png') }}" alt="">
        <h2>Admin</h2>
    </header>
    <ul>
        <li tabindex="0" class="icon-dashboard">
            <a href="#admin_perform">
                <span>PERFORM</span>
            </a>
        </li>
        <li tabindex="0" class="icon-customers">
            <a href="#admin_crew">
                <span>THE CREW</span>
            </a>
        </li>
        <li tabindex="0" class="icon-users">
            <a href="#admin_price">
                <span>PRICE</span>
            </a>
        </li>
    </ul>
</nav>