@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "~bootstrap/scss/bootstrap";
@import "visitor/home";
@import "connection.scss";
@import "admin/admin";

body {
    font-family: "Merienda", sans-serif;
    position: relative;
    background-color: darkblue;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/cirque.jpg");

}

main {
    margin-top: 15vh;
}