.adjust-format{
    position:relative;
    margin-left: 240px;

    .helper{
        background:rgba(0,0,0,0.2);
        position:absolute;
        top:50%;
        left:50%;
        transform:translate3d(-50%,-50%,0);
        padding:1.2em 2em;
        text-align:center;
        border-radius:20px;
        font-size:2em;
        font-weight:bold;

        span{
            color:rgba(0,0,0,0.2);
            font-size:0.4em;
            display:block;
        }
    }
}

.menu {
    background: linear-gradient(140deg, rgb(0, 0, 106) 0%, rgb(27, 28, 255) 50%, rgb(0, 0, 106) 100%);
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;

    .avatar {
        background: rgba(0, 0, 0, 0.1);
        padding: 2em 0.5em;
        text-align: center;

        img {
            width: 100px;
            border-radius: 50%;
            overflow: hidden;
            border: 4px solid rgb(218,165,32);
            box-shadow: 0 0 5px 4px rgb(105, 78, 18);
            background-color: lightgrey;
        }

        h2 {
            font-weight: normal;
            margin-bottom: 0;
            color:rgb(218,165,32);
        }
    }

    ul {
        list-style: none;
        padding: 0.5em 0;
        margin: 0;

        li {
            padding: 0.5em 1em 0.5em 2em;
            font-size: 1.4rem;
            background-repeat: no-repeat;
            background-position: left 15px center;
            background-size: auto 20px;
            transition: all 0.15s linear;
            cursor: pointer;

            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                color:rgb(218,165,32);
            }

            a:hover {
                text-decoration: none;
                font-weight: bold;
                color: rgb(105, 78, 18);
            }
        }
    }
}