.table-admin{
    width: 100%;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

.header-table-admin{
    background-color: lightgray;
    font-size: 1.3rem;
    width: 100%;

    th{
        padding: 1.3rem;
        text-align: center;
    }
}

.body-table-admin{
    font-size: 1rem;
    width: 100%;

    td{
        padding:1rem;
        border-bottom: black 1px solid;
        text-align: center;
    }
}