{% extends 'admin/layout_admin.html.twig' %}

{% block title %}Edit Perform{% endblock %}

{% block body %}
    <h1>Edit Perform</h1>

    {{ include('admin/perform/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('perform_index') }}">back to list</a>

    {{ include('admin/perform/_delete_form.html.twig') }}
{% endblock %}
